<div class="page-wrapper">
    <div class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta hic officiis repellat adipisci voluptates eligendi, animi consequuntur nam debitis possimus enim unde placeat harum expedita quibusdam explicabo, aliquam illum? Vel!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore unde recusandae, maiores aperiam fugiat alias a. Illo natus nihil, sunt fuga aut quos veritatis, perspiciatis odit optio ab architecto suscipit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus impedit eos quasi, sequi quod esse cumque distinctio enim voluptatem suscipit explicabo perspiciatis incidunt excepturi nam! Autem veritatis tempore quasi deleniti.
    </p>
        
    </div>
</div>